/* --- Educations --- */
.hi-icon-effect {
	padding-bottom:30px;
	padding-left:10px; 
	padding-right:10px;
}

.hi-icon-effect:hover {	
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.hi-icon-effect i.fa:hover {
	background:#fff;
	color: #92DD03;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.hi-icon-effect i {
	font-size:30px;
	margin-top:50px;
	margin-bottom:30px;
	color:#fff;
	padding:50px;
	background:#92DD03;
	border-radius:50%;
}